%p#notice= notice

%p
  %b Name:
  = @user.name
%p
  %b Email:
  = @user.email
%p
  %b Country:
  = @user.country
%p
  %b City:
  = @user.city

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
