<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %> <br/>
  <b>Email:</b>
  <%= @user.email %> <br/>
  <%= show_non_blank_field "Country", @user.country %>
  <%= show_non_blank_field "City", @user.city %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
