<div class="row">
  <div class="span12">
    <div class="row">
      <div class="span7">
        <div class="hero-unit">
          <p><h2>Welcome to BabyStats!<h2/></p>
          <p>An awesome tool to track your babies! Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
        </div>
      </div>
      <div class="span5">
        <legend>Sign up</legend>
        <%= form_for(:user, :as => "user", :url => registration_path("user")) do |f| %>

          <div class="clearfix">
            <%= f.label :email %>
            <div class="input">
              <%= f.email_field :email %>
            </div>
          </div>

          <div class="clearfix">
            <%= f.label :password %>
            <div class="input">
              <%= f.password_field :password %>
            </div>
          </div>

          <div class="clearfix">
            <%= f.label :password_confirmation %>
            <div class="input">
              <%= f.password_field :password_confirmation %>
            </div>
          </div>

          <div class="modal-footer">
            <%= f.submit "Sign up", :class => "btn primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
