<div class="row">
  <div class="span2">
    <% if @baby.photo.exists? then %>
      <%= image_tag @baby.photo.url(:small) %>
    <% else %>
      <%= image_tag "/assets/default_baby.jpg" %>
    <% end %>
  </div>
  <div class="span6">
    <h2><%= @baby.name %></h2>
    <p>Gender: <%= @baby.gender %></p>
    <p>Date of birth: <%= @baby.dob %></p>
    <div class="actions">
      <%= link_to "Manage data", new_baby_stat_path(@baby), :class => "btn btn-primary" %>
      <%= link_to "Edit", edit_baby_path(@baby), :class => "btn" %>
      <%= link_to "List All", babies_path, :class => "btn"%>
      <%= link_to "Delete", baby_path(@baby), :method => :delete, :confirm => "are you sure?", :class => "btn btn-danger" %>
    </div>
  </div>
</div>

<hr class="soften">

<div class="marketing">
  <h1>Stats</h1>
  <p class="marketing-byline">Your baby progress (http://www.who.int/childgrowth/standards/en/)</p>
</div>

<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#height-for-age" style="text-align: center;">
        Height for age
      </a>
    </div>
    <div id="height-for-age" class="accordion-body collapse">
      <div class="accordion-inner">
        The graph
      </div>
    </div>
  </div>
</div>
