<div class="row">
  <div class="span2">
    <% if @baby.photo.exists? then %>
      <%= image_tag @baby.photo.url(:small) %>
    <% else %>
      <%= image_tag "/assets/default_baby.jpg" %>
    <% end %>
  </div>
  <div class="span4">
    <h2><%= @baby.name %></h2>
    <p>Gender: <%= @baby.gender %></p>
    <p>Date of birth: <%= @baby.dob %></p>
    <div class="modal-footer">
      <%= link_to "Delete", baby_path(@baby), :method => :delete, :confirm => "are you sure?", :class => "btn" %>
      <%= link_to "All", babies_path, :class => "btn"%>
      <%= link_to "Edit", edit_baby_path(@baby), :class => "btn primary" %>
    </div>
  </div>
</div>
<br/>
<%= link_to "Back", :back %>
