<div class="row">
  <div class="span2">
    <% if @baby.photo.exists? then %>
      <%= image_tag @baby.photo.url(:small) %>
    <% else %>
      <%= image_tag "/assets/default_baby.jpg" %>
    <% end %>
  </div>
  <div class="span6">
    <h2><%= @baby.name %></h2>
    <p>Gender: <%= @baby.gender %></p>
    <p>Date of birth: <%= @baby.dob %></p>
    <div class="actions">
      <%= link_to "Manage data", new_baby_stat_path(@baby), :class => "btn btn-primary" %>
      <%= link_to "Edit", edit_baby_path(@baby), :class => "btn" %>
      <%= link_to "List All", babies_path, :class => "btn"%>
      <%= link_to "Delete", baby_path(@baby), :method => :delete, :confirm => "are you sure?", :class => "btn btn-danger" %>
    </div>
  </div>
</div>

<hr class="soften">

<div class="marketing">
  <h1>Stats</h1>
  <p class="marketing-byline">Your baby progress (http://www.who.int/childgrowth/standards/en/)</p>
</div>

<div class="row">
  <div class="span6">
    <h2 class="graph-header">Height-for-age</h2>
    <p>wdsksd wedf wed ef efd we  rt oi u uytr uytr  uytre tr tre tre trew  uytrew ytrew dfg</p>
  </div>
  <div class="span6">
    <h2 class="graph-header">Weight-for-age</h2>
    <p>wdsksd wedf wed ef efd we  rt oi u uytr uytr  uytre tr tre tre trew  uytrew ytrew dfg</p>
  </div>
</div>
<div class="row">
  <div class="span6">
    <h2 class="graph-header">Body mass index-for-age</h2>
    <p>wdsksd wedf wed ef efd we  rt oi u uytr uytr  uytre tr tre tre trew  uytrew ytrew dfg</p>
  </div>
  <div class="span6">
    <h2 class="graph-header">Head circumference-for-age</h2>
    <p>wdsksd wedf wed ef efd we  rt oi u uytr uytr  uytre tr tre tre trew  uytrew ytrew dfg</p>
  </div>
</div>
<div class="row">
  <div class="span6">
    <h2 class="graph-header">Arm circumference-for-age</h2>
    <p>wdsksd wedf wed ef efd we  rt oi u uytr uytr  uytre tr tre tre trew  uytrew ytrew dfg</p>
  </div>
  <div class="span6">
    <h2 class="graph-header">Subscapular skinfold-for-age</h2>
    <p>wdsksd wedf wed ef efd we  rt oi u uytr uytr  uytre tr tre tre trew  uytrew ytrew dfg</p>
  </div>
</div>
<div class="row">
  <div class="span6">
    <h2 class="graph-header">Triceps skinfold-for-age</h2>
    <p>wdsksd wedf wed ef efd we  rt oi u uytr uytr  uytre tr tre tre trew  uytrew ytrew dfg</p>
  </div>
  <div class="span6">
    <h2 class="graph-header">Motor development milestones</h2>
    <p>wdsksd wedf wed ef efd we  rt oi u uytr uytr  uytre tr tre tre trew  uytrew ytrew dfg</p>
  </div>
</div>
