<p id="notice"><%= notice %></p>

<p>
  <b>Month:</b>
  <%= @weight_percentile.month %>
</p>

<p>
  <b>L:</b>
  <%= @weight_percentile.l %>
</p>

<p>
  <b>Mean:</b>
  <%= @weight_percentile.mean %>
</p>

<p>
  <b>Sample sd:</b>
  <%= @weight_percentile.sample_sd %>
</p>

<p>
  <b>P01:</b>
  <%= @weight_percentile.p01 %>
</p>

<p>
  <b>P1:</b>
  <%= @weight_percentile.p1 %>
</p>

<p>
  <b>P3:</b>
  <%= @weight_percentile.p3 %>
</p>

<p>
  <b>P5:</b>
  <%= @weight_percentile.p5 %>
</p>

<p>
  <b>P10:</b>
  <%= @weight_percentile.p10 %>
</p>

<p>
  <b>P15:</b>
  <%= @weight_percentile.p15 %>
</p>

<p>
  <b>P25:</b>
  <%= @weight_percentile.p25 %>
</p>

<p>
  <b>P50:</b>
  <%= @weight_percentile.p50 %>
</p>

<p>
  <b>P75:</b>
  <%= @weight_percentile.p75 %>
</p>

<p>
  <b>P85:</b>
  <%= @weight_percentile.p85 %>
</p>

<p>
  <b>P90:</b>
  <%= @weight_percentile.p90 %>
</p>

<p>
  <b>P95:</b>
  <%= @weight_percentile.p95 %>
</p>

<p>
  <b>P97:</b>
  <%= @weight_percentile.p97 %>
</p>

<p>
  <b>P99:</b>
  <%= @weight_percentile.p99 %>
</p>

<p>
  <b>P999:</b>
  <%= @weight_percentile.p999 %>
</p>

<p>
  <b>Gender:</b>
  <%= @weight_percentile.gender %>
</p>


<%= link_to 'Edit', edit_weight_percentile_path(@weight_percentile) %> |
<%= link_to 'Back', weight_percentiles_path %>
