<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @stat.user_id %>
</p>

<p>
  <b>Baby:</b>
  <%= @stat.baby_id %>
</p>

<p>
  <b>Height:</b>
  <%= @stat.height %>
</p>

<p>
  <b>Weight:</b>
  <%= @stat.weight %>
</p>

<p>
  <b>Age weeks:</b>
  <%= @stat.age_weeks %>
</p>


<%= link_to 'Edit', edit_stat_path(@stat) %> |
<%= link_to 'Back', stats_path %>
