<%= form_for(@height_percentile) do |f| %>
  <% if @height_percentile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@height_percentile.errors.count, "error") %> prohibited this height_percentile from being saved:</h2>

      <ul>
      <% @height_percentile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :week %><br />
    <%= f.text_field :week %>
  </div>
  <div class="field">
    <%= f.label :p1 %><br />
    <%= f.text_field :p1 %>
  </div>
  <div class="field">
    <%= f.label :p3 %><br />
    <%= f.text_field :p3 %>
  </div>
  <div class="field">
    <%= f.label :p5 %><br />
    <%= f.text_field :p5 %>
  </div>
  <div class="field">
    <%= f.label :p15 %><br />
    <%= f.text_field :p15 %>
  </div>
  <div class="field">
    <%= f.label :p25 %><br />
    <%= f.text_field :p25 %>
  </div>
  <div class="field">
    <%= f.label :p50 %><br />
    <%= f.text_field :p50 %>
  </div>
  <div class="field">
    <%= f.label :p75 %><br />
    <%= f.text_field :p75 %>
  </div>
  <div class="field">
    <%= f.label :p85 %><br />
    <%= f.text_field :p85 %>
  </div>
  <div class="field">
    <%= f.label :p95 %><br />
    <%= f.text_field :p95 %>
  </div>
  <div class="field">
    <%= f.label :p97 %><br />
    <%= f.text_field :p97 %>
  </div>
  <div class="field">
    <%= f.label :p99 %><br />
    <%= f.text_field :p99 %>
  </div>
  <div class="field">
    <%= f.label :standard_deviation %><br />
    <%= f.text_field :standard_deviation %>
  </div>
  <div class="field">
    <%= f.label :mean %><br />
    <%= f.text_field :mean %>
  </div>
  <div class="field">
    <%= f.label :sample_sd %><br />
    <%= f.text_field :sample_sd %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
