<h1>Listing height_percentiles</h1>

<table>
  <tr>
    <th>Week</th>
    <th>P1</th>
    <th>P3</th>
    <th>P5</th>
    <th>P15</th>
    <th>P25</th>
    <th>P50</th>
    <th>P75</th>
    <th>P85</th>
    <th>P95</th>
    <th>P97</th>
    <th>P99</th>
    <th>Standard deviation</th>
    <th>Mean</th>
    <th>Sample sd</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @height_percentiles.each do |height_percentile| %>
  <tr>
    <td><%= height_percentile.week %></td>
    <td><%= height_percentile.p1 %></td>
    <td><%= height_percentile.p3 %></td>
    <td><%= height_percentile.p5 %></td>
    <td><%= height_percentile.p15 %></td>
    <td><%= height_percentile.p25 %></td>
    <td><%= height_percentile.p50 %></td>
    <td><%= height_percentile.p75 %></td>
    <td><%= height_percentile.p85 %></td>
    <td><%= height_percentile.p95 %></td>
    <td><%= height_percentile.p97 %></td>
    <td><%= height_percentile.p99 %></td>
    <td><%= height_percentile.standard_deviation %></td>
    <td><%= height_percentile.mean %></td>
    <td><%= height_percentile.sample_sd %></td>
    <td><%= link_to 'Show', height_percentile %></td>
    <td><%= link_to 'Edit', edit_height_percentile_path(height_percentile) %></td>
    <td><%= link_to 'Destroy', height_percentile, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Height percentile', new_height_percentile_path %>
