<p id="notice"><%= notice %></p>

<p>
  <b>Week:</b>
  <%= @height_percentile.week %>
</p>

<p>
  <b>P1:</b>
  <%= @height_percentile.p1 %>
</p>

<p>
  <b>P3:</b>
  <%= @height_percentile.p3 %>
</p>

<p>
  <b>P5:</b>
  <%= @height_percentile.p5 %>
</p>

<p>
  <b>P15:</b>
  <%= @height_percentile.p15 %>
</p>

<p>
  <b>P25:</b>
  <%= @height_percentile.p25 %>
</p>

<p>
  <b>P50:</b>
  <%= @height_percentile.p50 %>
</p>

<p>
  <b>P75:</b>
  <%= @height_percentile.p75 %>
</p>

<p>
  <b>P85:</b>
  <%= @height_percentile.p85 %>
</p>

<p>
  <b>P95:</b>
  <%= @height_percentile.p95 %>
</p>

<p>
  <b>P97:</b>
  <%= @height_percentile.p97 %>
</p>

<p>
  <b>P99:</b>
  <%= @height_percentile.p99 %>
</p>

<p>
  <b>Standard deviation:</b>
  <%= @height_percentile.standard_deviation %>
</p>

<p>
  <b>Mean:</b>
  <%= @height_percentile.mean %>
</p>

<p>
  <b>Sample sd:</b>
  <%= @height_percentile.sample_sd %>
</p>


<%= link_to 'Edit', edit_height_percentile_path(@height_percentile) %> |
<%= link_to 'Back', height_percentiles_path %>
