<h1>Listing head_circumference_percentiles</h1>

<table>
  <tr>
    <th>Month</th>
    <th>Mean</th>
    <th>Sample sd</th>
    <th>Standard deviation</th>
    <th>P01</th>
    <th>P1</th>
    <th>P3</th>
    <th>P5</th>
    <th>P10</th>
    <th>P15</th>
    <th>P25</th>
    <th>P50</th>
    <th>P75</th>
    <th>P85</th>
    <th>P90</th>
    <th>P95</th>
    <th>P97</th>
    <th>P99</th>
    <th>P999</th>
    <th>Gender</th>
    <th>Measure unit</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @head_circumference_percentiles.each do |head_circumference_percentile| %>
  <tr>
    <td><%= head_circumference_percentile.month %></td>
    <td><%= head_circumference_percentile.mean %></td>
    <td><%= head_circumference_percentile.sample_sd %></td>
    <td><%= head_circumference_percentile.standard_deviation %></td>
    <td><%= head_circumference_percentile.p01 %></td>
    <td><%= head_circumference_percentile.p1 %></td>
    <td><%= head_circumference_percentile.p3 %></td>
    <td><%= head_circumference_percentile.p5 %></td>
    <td><%= head_circumference_percentile.p10 %></td>
    <td><%= head_circumference_percentile.p15 %></td>
    <td><%= head_circumference_percentile.p25 %></td>
    <td><%= head_circumference_percentile.p50 %></td>
    <td><%= head_circumference_percentile.p75 %></td>
    <td><%= head_circumference_percentile.p85 %></td>
    <td><%= head_circumference_percentile.p90 %></td>
    <td><%= head_circumference_percentile.p95 %></td>
    <td><%= head_circumference_percentile.p97 %></td>
    <td><%= head_circumference_percentile.p99 %></td>
    <td><%= head_circumference_percentile.p999 %></td>
    <td><%= head_circumference_percentile.gender %></td>
    <td><%= head_circumference_percentile.measure_unit %></td>
    <td><%= link_to 'Show', head_circumference_percentile %></td>
    <td><%= link_to 'Edit', edit_head_circumference_percentile_path(head_circumference_percentile) %></td>
    <td><%= link_to 'Destroy', head_circumference_percentile, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Head circumference percentile', new_head_circumference_percentile_path %>
